@import url("https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@400;500&family=M+PLUS+Rounded+1c:wght@700&display=swap");

:root {
  font-family: "Kiwi Maru", serif;
}

body {
  margin: 0;
  min-height: 100vh;
}
